/* body{
    background-color: aqua;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
    max-width: 100%;
 }

/* 
*******************************
COMMON & LAYOUTS
*******************************
*/
.header-container{
    /* debug */
    height: 100px;
}

.big-container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    /* debug */
    height: 500px;
    border: solid 3px;
    background-color: bisque;
}
.small-container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    /* debug */
    height: 300px;
    border: solid 3px;
    background-color: azure;
}
/* 
*******************************
UTILITIES
*******************************
*/
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
/* 
*******************************
HEADER
*******************************
*/

header{
    /* height: 100px; */
    background-color: rgb(201, 222, 228);
    color: black;

    /* advanced:
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999 */
}

.header-logo{
    height: 60px;
}
